.types{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.elemType{
    border-radius: 18px;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 32px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    font-size: 18px;
}

.elemType img {
    width: 25px;
    height:25px;
}

.btnShiny{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid black;
    -webkit-text-stroke: 1px black;
}
.colorNormal{
    background-color:silver;
}

.colorShiny{
    background-color:goldenrod;
} 

.sexContainer{
    border-radius: 80px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
    margin: auto;
    margin-bottom: 10px;
}
.maleContainer{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: cornflowerblue;
    color: white;
    font-size: 12px;
font-weight: bolder;
text-align: center;
}
.femaleContainer{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: hotpink;
    color: white;
font-size: 12px;
font-weight: bolder;
text-align: center;
}

.sexTitle{
    margin-bottom: unset;
}

