<div class="container">
    <br>
    <h2>List Friends (Text Interpolation) :</h2>
    <br>
    <input type="text" name="etat" [(ngModel)]="leFriend">
    <p>{{listFriendsCreationStatus}}</p>
    <br>
    <p *ngIf="listFriendCreated, else noFriend" class="text-success" >Un ami a été crée, il s'agit de {{leFriend}}</p>
    <ng-template #noFriend ><p class="text-danger">Pas encore d'ami 😢</p></ng-template>
    <br><br>
    <input type="button" class="btn btn-success" value="Ajout ami" (click)="onAddingFriends()" (input)="onUpdateFriendsList($event)">
    <br>
    <input [(ngModel)]="listFriendsInputText" type="text" class="form-control w-50 m-auto" placeholder="Nom Ami" aria-label="Username" placeholder="Le nom de ton copaing">
    <br>
    <input type="button" class="btn btn-light" value="Je me désactive au bout de 3secondes" [disabled]="listFriendsAuth">
    <br>
    <app-one-friend></app-one-friend>
    <br>
</div>