<header>
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container-fluid">
        <img
          src="../assets/logo_nekotaku.png"
          alt="Logo"
          class="rounded mx-auto d-block logo"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active me-2 py-2">
                <h5 class="text-light text-decoration-none font-weight-bold text-xl">Angular
                </h5>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Cours et Exos
              </a>
              <ul class="dropdown-menu bg-secondary hover:bg-secondary" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-item me-2">
                  <a routerLink="/home" class="text-light">Tp 1 - Manip Composants</a>
                </li>
                <li class="dropdown-item me-2">
                  <a routerLink="/list-friends" class="text-light">TP 2 : Exo Text Interpolation</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
