<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <img
        src="../assets/logo_nekotaku.png"
        alt="Logo"
        class="rounded mx-auto d-block logo"
        routerLink=""
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active me-2 py-2">
            <h5
              class="text-light text-decoration-none font-weight-bold text-xl"
            >
              Angular
            </h5>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Cours et TP
            </a>
            <ul
              class="dropdown-menu bg-dark hover:bg-secondary"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li class="dropdown-item me-2">
                <a routerLink="/app-component-manip" class="text-light"
                  >Tp 1 - Manip Composants</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/list-friends" class="text-light"
                  >TP 2 : Exo Text Interpolation</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/data-binding" class="text-light"
                  >TP 3 : Exo DataBinding</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/list-cats" class="text-light"
                  >TP 4 : Exo ng-for</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/directives" class="text-light"
                  >TP 5 : Directives</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/blog" class="text-light"
                  >TP 6 : Blog Control Center</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/user" class="text-light">TP 7 : User</a>
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/observable" class="text-light"
                  >TP 8 : Observables</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/pipes" class="text-light">TP 9 : Pipes</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Firebase
            </a>
            <ul
              class="dropdown-menu bg-dark hover:bg-secondary"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li class="dropdown-item me-2">
                <a routerLink="/register" class="text-light"
                  >TP : Création de compte</a
                >
              </li>
              <li class="dropdown-item me-2">
                <a routerLink="/login" class="text-light">TP : Login</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link text-light"
              role="button"
              routerLink="/pokemon-list"
              aria-expanded="false"
            >
              Pokédex
            </a>
          </li>
        </ul>
      </div>
      <div class="auth">
        <div routerLink="/register" *ngIf="!user">
          <img
            class="register"
            src="../assets/register.png"
            alt="Inscription"
          />
        </div>
        <div routerLink="/login" *ngIf="!user">
          <img
            class="connexion"
            src="../assets/connexion.png"
            alt="Connexion"
          />
        </div>
        <div routerLink="/register" (click)="signOut()" *ngIf="user">
          <img class="deco" src="../assets/deco.png" alt="Inscription" />
        </div>
      </div>
    </div>
  </nav>
</header>
