.container {
    width: 100vw;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: deeppink;
    color: aqua;
}

.second-part{
    display: flex;
    justify-content: space-between
}